<section id="viewMyPosts">
    <div class="post post-content">
        <h1>Your Posts</h1>
    </div>
    <div class="posts">
        {{#each posts}}
            {{> post}}
        {{else}}
            <p>No Posts in database!</p>
        {{/each}}
    </div>
</section>