<section id="viewUserHome">
    <h1 id="viewUserHomeHeading">Welcome, {{username}}!</h1>
    <a href="#/myMessages" id="linkUserHomeMyMessages">My Messages</a>
    <a href="#/sendMessage" id="linkUserHomeSendMessage">Send Message</a>
    <a href="#/archive" id="linkUserHomeArchiveSent">Archive (Sent)</a>
</section>