{{> header}}

<div class="content">
    <form id="formLogin" class="form" action="#/login" method="post">
        <label>Username</label>
        <input name="username" type="text">
        <label>Password</label>
        <input name="password" type="password">
        <input id="btnLogin" type="submit" value="Sign In">
        <a href="#/register">Register</a>
    </form>
</div>

{{> footer}}